.odometer {
  font-size: 40px;
}

.jack-pot-case {
  width: 250px;
  text-align: center;
  margin: auto;
}
.jack-pot-content {
  width: 250px;
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: rgb(240,0,1);
}
.slot-area {
  width: 190px;
  height: 80px;
  margin: auto;
  background-color: rgb(59,59,59);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.jack-pot-btn-foundation {
  width: 250px;
  height: 50px;
  background-color: rgb(210,210,210);
}
.jack-pot-foundation {
  width: 250px;
  height: 200px;
  background-color: rgb(219,219,219);
}
.jack-pot-exit-1 {
  width: 150px;
  height: 50px;
  background-color: rgb(2,79,180);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
}
.jack-pot-exit-2 {
  width: 120px;
  height: 50px;
  background-color: rgb(40,40,40);
  border-radius: 2px;
  margin: auto;
}

.stop-btn {
  width: 50px;
  height: 50px;
  background-color:rgba(230, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  float: left;
  margin: auto;
}
.left-btn {
  margin: 0 12px 0 25px;
}
.center-btn {
  margin: 0 12px 0 12px;
}
.right-btn {
  margin: 0 25px 0 12px;
}